<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>AI &ndash; Travelling Salesman Problem Examples &ndash; Pure</title>




<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">



<!--[if lte IE 8]>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">

<![endif]-->
<!--[if gt IE 8]><!-->

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

<!--<![endif]-->





  {% load staticfiles %}

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'css/layouts/blog-old-ie.css' %}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{% static 'css/layouts/blog.css' %}">
    <!--<![endif]-->



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      <!-- fix del bug de las coordenadas, NO TOCAR CARAJO! -->
      var coordinates = [['x','y']].concat({{ coordinates_django }});
      var heuristic_coordinates = [['x','y']].concat({{ coordinates_heuristic }})
      var two_opt_coordinates = [['x','y']].concat({{ coordinates_two_opt }})

      console.log(coordinates)
      function drawChart() {
      var data = google.visualization.arrayToDataTable(coordinates);
        var options = {
          title: 'Backtracking Solution',
          hAxis: {title: 'x', minValue: 0, maxValue: 3},
          vAxis: {title: 'y', minValue: 0, maxValue: 3},
          legend: 'none',
	  lineWidth: 1
        };
      var heuristic_data = google.visualization.arrayToDataTable(heuristic_coordinates);
        var options_heuristic = {
          title: 'Heuristic Solution',
          hAxis: {title: 'x', minValue: 0, maxValue: 3},
          vAxis: {title: 'y', minValue: 0, maxValue: 3},
          legend: 'none',
	  lineWidth: 1
        };
      var two_opt_data = google.visualization.arrayToDataTable(two_opt_coordinates);
        var options_two_opt = {
          title: 'Heuristic + 2opt Solution',
          hAxis: {title: 'x', minValue: 0, maxValue: 3},
          vAxis: {title: 'y', minValue: 0, maxValue: 3},
          legend: 'none',
	  lineWidth: 1
        };
        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div_backtracking'));
	    var chart_heuristic = new google.visualization.ScatterChart(document.getElementById('chart_div_heuristic'));
	    var chart_two_opt = new google.visualization.ScatterChart(document.getElementById('chart_div_two_opt'));
        chart.draw(data, options);
	    chart_heuristic.draw(heuristic_data, options_heuristic);
	    chart_two_opt.draw(two_opt_data, options_two_opt);
      }
   </script>



</head>

{% block body%}
{% endblock %}

</html>